web/schemas/Archive/Documents.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="urn:com:summerfields:Archive:Documents"
	xmlns:html="http://www.w3.org/1999/xhtml"
	xmlns:ns0="urn:com:summerfields:Archive:Links"
	xmlns:ns1="urn:com:summerfields:Archive:Refs"
	targetNamespace="urn:com:summerfields:Archive:Documents">

<xsd:import schemaLocation="Links.xsd" namespace="urn:com:summerfields:Archive:Links" /> 
<xsd:import schemaLocation="Refs.xsd" namespace="urn:com:summerfields:Archive:Refs" /> 

<xsd:element name="Documents">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element ref="Document" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element ref="ns1:Ref" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

<xsd:element name="Document">
	<xsd:complexType>
		<xsd:annotation>
			<xsd:documentation>
			One or more digital images which reflect one real object in archive. For example, one real photography may be present
			by two digital images (fron side and back side).
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="autouid" type="xsd:string" minOccurs="0" />
			<xsd:element name="ID" type="xsd:string" minOccurs="0" />
			<xsd:element name="type" type="documentTypeType" />
			<xsd:element name="year" type="documentYearType" />
			<xsd:element name="path" type="xsd:string" minOccurs="0" />
			<xsd:element name="published" type="xsd:integer" minOccurs="0" />
			<xsd:element name="readiness" type="readinessType" minOccurs="0" default="0"/>
			<xsd:element name="comments" type="xsd:string" minOccurs="0" />
			<xsd:element ref="Page" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element ref="ns0:Link" minOccurs="0" />
			<xsd:element ref="ns1:Ref" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

<xsd:element name="DocumentPosition">
	<xsd:simpleType>
		<xsd:restriction base="xsd:int" />
	</xsd:simpleType>
</xsd:element>

<xsd:element name="Pages">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element ref="Page" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

<xsd:element name="Page">
	<xsd:complexType>
		<xsd:annotation>
			<xsd:documentation>
			    Document page. Every document has at least one page. One page consists of one or two sides Obvers/Reverse
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="0" />
			<xsd:element name="comments" type="xsd:string" minOccurs="0" />
			<xsd:element name="Obverse" type="SideType" minOccurs="1" />
			<xsd:element name="Reverse" type="SideType" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

<xsd:complexType name="SideType">
	<xsd:annotation>
		<xsd:documentation>One side of the document page</xsd:documentation>
	</xsd:annotation>
	<xsd:sequence>
		<xsd:element name="name" type="xsd:string" minOccurs="1" />
		<xsd:element ref="Area" minOccurs="0" maxOccurs="unbound" />
		<xsd:element name="Large" type="ImageType" minOccurs="0" />
		<xsd:element name="Thumb" type="ImageType" minOccurs="0" />
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ImageType">
	<xsd:annotation>
		<xsd:documentation>Page image.</xsd:documentation>
	</xsd:annotation>
	<xsd:sequence>
		<xsd:element name="src" type="xsd:string" minOccurs="1" />
		<xsd:element name="width" type="xsd:integer" minOccurs="1" />
		<xsd:element name="height" type="xsd:integer" minOccurs="1" />
		<xsd:element name="size" type="xsd:double" minOccurs="1" />
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="Area">
	<xsd:annotation>
		<xsd:documentation>Page image area.</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType>
		<xsd:element name="x" type="xsd:double" minOccurs="1" />
		<xsd:element name="y" type="xsd:double" minOccurs="1" />
		<xsd:element name="width" type="xsd:double" minOccurs="1" />
		<xsd:element name="height" type="xsd:double" minOccurs="1" />
		<xsd:element ref="ns1:Ref" minOccurs="0" maxOccurs="unbound" />
	</xsd:complexType>
</xsd:element>

<xsd:simpleType name="documentTypeType">
	<xsd:restriction base="xsd:int">
		<xsd:enumeration value="1">
		    <xsd:annotation>
		        <xsd:appinfo><html:option>Individual</html:option></xsd:appinfo>
		    </xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="2" >
		    <xsd:annotation>
		        <xsd:appinfo><html:option>Group</html:option></xsd:appinfo>
		    </xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="3" >
		    <xsd:annotation>
		        <xsd:appinfo><html:option>Buildings</html:option></xsd:appinfo>
		    </xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="4" >
		    <xsd:annotation>
		        <xsd:appinfo><html:option>4</html:option></xsd:appinfo>
		    </xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="5" >
		    <xsd:annotation>
		        <xsd:appinfo><html:option>5</html:option></xsd:appinfo>
		    </xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="6" >
		    <xsd:annotation>
		        <xsd:appinfo><html:option>6</html:option></xsd:appinfo>
		    </xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="7" >
		    <xsd:annotation>
		        <xsd:appinfo><html:option>7</html:option></xsd:appinfo>
		    </xsd:annotation>
		</xsd:enumeration>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="documentYearType">
	<xsd:restriction base="xsd:string">
		<xsd:pattern value="(18|19|20)[0-9\?]{2}" />
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="readinessType">
	<xsd:restriction base="xsd:int">
		<xsd:minInclusive value="0" />
		<xsd:maxInclusive value="100" />
	</xsd:restriction>
</xsd:simpleType>

</xsd:schema>