web/schemas/Archive/Events.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:html="http://www.w3.org/1999/xhtml"
	xmlns="urn:com:summerfields:Archive:Events"
	xmlns:ns0="urn:com:summerfields:Archive:Links"
	xmlns:ns1="urn:com:summerfields:Archive:Refs"
	targetNamespace="urn:com:summerfields:Archive:Events">

<xsd:import schemaLocation="Links.xsd" namespace="urn:com:summerfields:Archive:Links" /> 
<xsd:import schemaLocation="Refs.xsd" namespace="urn:com:summerfields:Archive:Refs" /> 

<xsd:element name="Event">
	<xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>Timeline events</xsd:documentation>
	</xsd:annotation>
	<xsd:sequence>
			<xsd:element name="autouid" type="xsd:integer" minOccurs="0" />
			<xsd:element name="ID" type="xsd:string" minOccurs="0" />
			<xsd:element name="name" type="xsd:string" />
			<xsd:element name="dt" type="xsd:string">
			    <xsd:annotation>
			        <xsd:documentation>Event date</xsd:documentation>
			    </xsd:annotation>
			</xsd:element>
			<xsd:element name="type" type="eventTypeType" />
			<xsd:element name="comments" type="xsd:string" minOccurs="0" />
			<xsd:element ref="ns0:Link" minOccurs="0" maxOccurs="1" />
			<xsd:element ref="ns1:Ref" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

<xsd:element name="Events">
	<xsd:complexType>
		<xsd:sequence>
		    <xsd:element ref="ns1:Ref" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element ref="Event" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

<xsd:simpleType name="eventTypeType">
	<xsd:restriction base="xsd:int">
		<xsd:enumeration value="1">
		    <xsd:annotation>
		        <xsd:appinfo><html:option>Calendar</html:option></xsd:appinfo>
		    </xsd:annotation>
		</xsd:enumeration>
		<xsd:enumeration value="2">
		    <xsd:annotation>
		        <xsd:appinfo><html:option>Other</html:option></xsd:appinfo>
		    </xsd:annotation>
		</xsd:enumeration>
	</xsd:restriction>
</xsd:simpleType>

</xsd:schema>