web/schemas/Archive/Persons.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="urn:com:summerfields:Archive:Persons"
	xmlns:ns0="urn:com:summerfields:Archive:Links"
	xmlns:ns1="urn:com:summerfields:Archive:Refs"
	targetNamespace="urn:com:summerfields:Archive:Persons">

<xsd:import schemaLocation="Links.xsd" namespace="urn:com:summerfields:Archive:Links" />
<xsd:import schemaLocation="Refs.xsd" namespace="urn:com:summerfields:Archive:Refs" />

<xsd:element name="Person">
	<xsd:complexType>
		<xsd:annotation>
			<xsd:documentation>Any person (boys, teachers etc.)</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="autouid" type="xsd:integer" minOccurs="0" />
			<xsd:element name="ID" type="xsd:string" minOccurs="0" />
			<xsd:element name="fullName" type="xsd:string" />
			<xsd:element name="initials" type="xsd:string" minOccurs="0" />
			<xsd:element name="middleNames" type="xsd:string" minOccurs="0" />
			<xsd:element name="firstName" type="xsd:string" minOccurs="0" />
			<xsd:element name="lastName" type="xsd:string" minOccurs="0" />
			<xsd:element name="esq" type="xsd:string" minOccurs="0" />
			<xsd:element name="deceased" type="xsd:string" minOccurs="0" />
			<xsd:element name="DOB" type="xsd:string" minOccurs="0" />
			<xsd:element name="rollNo" type="xsd:integer" minOccurs="0" />
			<xsd:element name="no" type="xsd:integer" minOccurs="0" />
			<xsd:element name="league" type="leagueType" minOccurs="0" />
			<xsd:element name="comments" type="xsd:string" minOccurs="0" />
			<xsd:element ref="ns1:Ref" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element ref="ns0:Link" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

<xsd:simpleType name="leagueType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="Maclaren" />
        <xsd:enumeration value="Case" />
        <xsd:enumeration value="Congreve" />
        <xsd:enumeration value="Moseley" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:element name="Persons">
	<xsd:complexType>
		<xsd:sequence>
		    <xsd:element ref="ns1:Ref" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element ref="Person" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

<xsd:element name="Staff">
	<xsd:complexType>
		<xsd:sequence>
		    <xsd:element ref="ns1:Ref" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element ref="Person" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

</xsd:schema>